$button-size: 24px;

* {
  font-family: monospace !important;
}

.current {
  color: green;
}

.icon {
  width: $button-size;
  height: $button-size;
}

.menu {
  flex-basis: 10%;
  flex-shrink: 0;
}

.container {
  gap: 1rem;
}
.container.v {
  display: flex;
  flex-direction: column;
}

.container.h {
  display: flex;
  flex-direction: row;
}

.sidebar {
  
}

.sidebar a {
  font-size: 2rem;
}

.sidebar.closed {
  width: 0;
  visibility: hidden;
}

@media (max-width: 768px) {
  .sidebar {
    flex-basis: 100%;
  }
}

.content {
  flex: 1; /* takes up remaining space */
}
