* {
  font-family: monospace !important;
}

.current {
  color: green;
}

.icon {
  width: 32px;
  height: 32px;
}

.menu {
  padding: 1rem;
}

.container.v {
  display: flex;
  flex-direction: column;
}

.container.h {
  display: flex;
  flex-direction: row;
}

.sidebar {
  flex-basis: 20%;
  flex-shrink: 0;
}

.sidebar.closed {
  width: 0;
  visibility: hidden;
}

@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    left: -250px;
  }
}

.content {
  flex: 1; /* takes up remaining space */
  padding: 1rem;
}
