$button-size: 1.5rem;

* {
  font-family: monospace !important;
}

html {
  font-size: 30px;
}

/* tree view */
.tree {
  --spacing: 0.75rem;
  --size: 1rem;
  margin: 0;
  padding: 0;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
}

.tree a {
  color: inherit;
  text-decoration: none;
}

.chevron {
  width: var(--size);
  height: var(--size);
}

details[open] > summary > .chevron {
  transform: rotate(90deg);
}

.tree li {
  display: block;
  list-style: none;
  padding-bottom: 0.2rem;
  padding-top: 0.2rem;
}

.tree ul {
  list-style: none;
  padding-left: var(--spacing);
}

.tree ul li {
  border-left: 2px solid #ddd;
}

.tree summary {
  list-style: none;
}

.file{
  padding-left: var(--spacing);
}

.tree li:has(> a):hover,
.tree summary:hover,
.file:hover {
  background: rgba(255, 255, 255, 0.08); /* for dark theme */
  /* or for light theme: */
  background: rgba(0, 0, 0, 0.06);
}



/* Legacy */

.tree summary {
  display: block;
  cursor: pointer;
}

.tree summary::marker,
.tree summary::-webkit-details-marker {
  display: none;
}

.tree summary:focus {
  outline: none;
}

.tree summary:focus-visible {
  outline: 1px dotted #000;
}

/* Icons */


.icon {
  width: $button-size;
  height: $button-size;
}

.small-icon {
  height: var(--size);
  width: var(--size);
  vertical-align: middle;
}

.h-flex {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.buttons {
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
}

.menu {
  gap: 0.5rem;
  display: flex;
  flex-direction: row;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-y: auto;
  max-height: 100vh;
}

.sidebar.closed {
  width: 0;
  visibility: hidden;
}

.content {
  flex: 1;
}
